@import url("../components/RequestBox.css");

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

:root
{
	--gray0: #000;
	--gray1: #222;
	--gray3: #555;
	--gray4: #888;
	--gray5: #ddd;
	--gray6: #eee;
	--gray7: #fff;
}

.light
{
	--bg: var(--gray7);
	--fg: var(--gray0);
	--secColor: #ddd;
	--red: #cc2222;
	--green: #22bb22;
	--lightGreen: #55cc55;
	--brown: #664433;
}

.dark
{
	--bg: var(--gray1);
	--fg: var(--gray6);
	--secColor: #404040;
	--red: #9a0606;
	--green: #028102;
	--lightGreen: #265d26;
	--brown: #3f2b21;
}

html,body
{
	height:100%;
	background: var(--bg);
	color: var(--fg);
}


.message
{
	position:sticky;
	top:0;
	left:0;
	right:0;
	text-align:center;
	font-size:0.6rem;
	font-family:monospace;
	padding:0.4rem;
	transition:0.5s all;
	height:min(25px,5vh);
}


.err-txt
{
	background: var(--red);
	color: var(--fg);
}

.succ-txt
{
	background: var(--green);
	color: var(--fg);
}

.wait-txt
{
	background: var(--brown);
	color: var(--fg);
}

.hid-txt
{
	height:0;
	padding:0;
	display: none;
}


.App
{
	display:block;
}

header
{
	display: flex;
	width:100%;
	background: var(--secColor);
	align-items:center;
	padding: min(20px,2vh);
	justify-content:space-around;
}

header > h3
{
	font-family: monospace;
	color: var(--fg);
}

.online-players
{
	margin-top: 30px;
	display:flex;
	flex-direction: column;
	align-items:center;
}

.player-search
{
	position:sticky;
	top:min(10px,7vmin);
	border: 2px solid var(--gray3);
	color: var(--fg);
	padding:min(8px,6vmin);
	width:80%;
	border-radius:30px;
	background: var(--bg);
	margin-bottom: min(12px,8vmin);
}

.player
{
	border-radius:5px;
	cursor:pointer;
	margin-top: min(5px,2vmin);
	padding: min(8px,6vmin);
	background: var(--secColor);
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.4s;
}


.player:hover
{
	background:var(--gray4);
}

/*** Game ***/

.Game
{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.ttt
{
	height: min(500px,50vh);
	width: min(500px,80vw);
	margin-top: min(100px,10vh);
	display: grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 1fr 1fr;
}

.cell
{
	outline: 1px solid var(--lightGreen);
	color: var(--lightGreen);
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 1.5rem;
}

.Game > header
{
	justify-content:space-around;
	align-items:stretch;
	padding: min(5px,2vh);
	height:min(50px,10vh);
}
.reload-btn, .back-btn, .plyr-turn
{
	display:flex;
	align-items:center;
	justify-content:center;
	width:max-content;
	padding:3px;
	height:100%;
	cursor: pointer;
}

/** Overriding classes **/
.hidden
{
	display:none;
}
